<main>
  <div class="top">
    <h1 id="username">USERNAME</h1>
    <button id="logout" (click)="signOut()">LOGOUT</button>
  </div>
  <div class="taskBoard">
    <div class="example-container">
    <h2>To do</h2>
  
    <div
      cdkDropList
      id="todo"
      #todoList="cdkDropList"
      [cdkDropListData]="todo"
      [cdkDropListConnectedTo]="[doingList]"
      class="example-list"
      (cdkDropListDropped)="drop($event)">
      <div class="example-box" *ngFor="let item of todo | async" cdkDrag>{{ item.title }}</div>
    </div>
    </div>
  
    <div class="example-container">
      <h2>Doing</h2>
    
      <div
        cdkDropList
        id="doing"
        #doingList="cdkDropList"
        [cdkDropListData]="doing"
        [cdkDropListConnectedTo]="[doneList, todoList]"
        class="example-list"
        (cdkDropListDropped)="drop($event)">
        <div class="example-box" *ngFor="let item of doing | async" cdkDrag>{{ item.title }}</div>
      </div>
      </div>
  <div class="example-container">
    <h2>Done</h2>
  
    <div
      cdkDropList
      id="done"
      #doneList="cdkDropList"
      [cdkDropListData]="done"
      [cdkDropListConnectedTo]="[doingList]"
      class="example-list"
      (cdkDropListDropped)="drop($event)">
      <div class="example-box" *ngFor="let item of done | async" cdkDrag>{{ item.title }}</div>
    </div>
  </div>
  
  </div>
  

</main>

