<main>
  <div class="top">
    <h1 id="username">USERNAME</h1>
    <button id="logout" (click)="signOut()">LOGOUT</button>
  </div>
  <div class="taskBoard">
    <div class="example-container">
      <h2>To do</h2>
  
      <mat-accordion 
      cdkDropList
      id="todo"
      #todoList="cdkDropList"
      [cdkDropListData]="todo"
      [cdkDropListConnectedTo]="[doingList,doneList]"
      class="example-list"
      (cdkDropListDropped)="drop($event)" >
        <mat-expansion-panel class="example-box" cdkDrag *ngFor="let item of todo | async" hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{item.title}}
            </mat-panel-title>
          </mat-expansion-panel-header>
            <p>{{item.description}}</p>
            <p>{{item.worker}}</p>
            <div class="buttons">
              <button class="button" id="employee" (click)=" addToTask(item.title)">ASSIGN TO TASK</button>
              <button class="button" id="employee" (click)="removeFromTask(item.title)">UNASSIGN FROM TASK</button>
            </div>
        </mat-expansion-panel>
        <div class="empty" *ngIf="(todo | async)?.length === 0"></div>
    </mat-accordion>
    </div>
  
    <div class="example-container">
      <h2>Doing</h2>
    
      <mat-accordion 
      cdkDropList
        id="doing"
        #doingList="cdkDropList"
        [cdkDropListData]="doing"
        [cdkDropListConnectedTo]="[doneList, todoList]"
        class="example-list"
        (cdkDropListDropped)="drop($event)">
        <mat-expansion-panel  class="example-box" cdkDrag *ngFor="let item of doing | async" hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{item.title}}
            </mat-panel-title>
          </mat-expansion-panel-header>
            <p>{{item.description}}</p>
            <p>{{item.worker}}</p>
            <div class="buttons">
              <button class="button" id="employee" (click)=" addToTask(item.title)">ASSIGN TO TASK</button>
              <button class="button" id="employee" (click)="removeFromTask(item.title)">UNASSIGN FROM TASK</button>
            </div>
        </mat-expansion-panel>
        <div class="empty" *ngIf="(doing | async)?.length === 0"></div>
    </mat-accordion>
  </div>
  <div class="example-container">
    <h2>Done</h2>W
  
    <mat-accordion 
      cdkDropList
      id="done"
      #doneList="cdkDropList"
      [cdkDropListData]="done"
      [cdkDropListConnectedTo]="[doingList, doneList]"
      class="example-list"
      (cdkDropListDropped)="drop($event)">
      <mat-expansion-panel class="example-box" cdkDrag *ngFor="let item of done | async" hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{item.title}}
          </mat-panel-title>
        </mat-expansion-panel-header>
          <p>{{item.description}}</p>
          <p>{{item.worker}}</p>
      </mat-expansion-panel>
      <div class="empty" *ngIf="(done | async)?.length === 0"></div>
  </mat-accordion>
    </div>
  </div>
  
  <footer>
    <div class="buttons">
      <button class="button" id="clearBoard" (click)="clear()">CLEAR BOARD</button>
      <button class="button" id="add" routerLink="/add" routerLinkActive="active">ADD TASK</button>
    </div>
</footer>
  

</main>

